<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </td>
  <% user = micropost.user rescue User.find(micropost.user_id) %>
  <% if current_user?(user) %>
    <td>
      <%= link_to "delete", micropost, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => micropost.content %>
    </td>
  <% end %>
</tr>